img{
    width: 100%;
}

.hover:hover{
    background-color: orangered;
}

#advice{
    text-align: center;
    margin: 10px;
}
#p {
    
}
footer {
    background-color: whitesmoke;
    color: rgb(48, 44, 44);
    padding: 5px;
}
